/* 02. 너비(width, height) */
.div-02 {
  /* width: auto;
  height: auto; */
  background-color: orange;
}
.span-02 {
  width: 100px;
  height: 100px;
  background-color: orange;
}
.parent-02 {
  width: 300px;
  height: 200px;
  background-color: royalblue;
}
.child-02 {
  min-width: 400px;
  height: 100px;
  background-color: orange;
}

/* 03. CSS 단위 */
html {
  font-size: 16px;
}
.parent-03 {
  width: 300px;
  height: 200px;
  background-color: royalblue;
  font-size: 10px;
}
.child-03 {
  /* width: 20rem; */
  width: 50vw;
  height: 50%;
  background-color: orange;
}

/* 04. 외부 여백(margin) */
.container-04 {

}
.container-04 .item-04 {
  width: 100px;
  height: 100px;
  background-color: orange;
  border: 4px solid red;
  /* margin: -20px 10px; */
}
.container-04 .item-04:nth-child(1) {
  margin: 10px 20px 30px;
}

/* 05. 내부 여백(padding) */
.container-05 .item-05 {
  width: 100px;
  height: 100px;
  background-color: orange;
  border: 4px solid red;
}
.container-05 .item-05:first-child {
  padding: 20px;
}

/* 06. 테두리 선(border)과 색상 표현 */
.container-06 .item-06 {
  width: 100px;
  height: 100px;
  background-color: orange;
}
.container-06 .item-06:first-child {
  border: 4px dashed red;
}

/* 07. 모서리 둥글게(border-radius) */
.div-07 {
  width: 100px;
  height: 100px;
  background: orange;
  border-radius: 10px;
}

/* 08. 크기 계산(box-sizing) */
.item-08 {
  width: 100px;
  height: 100px;
  background: orange;
}
.item-08:last-child {
  border: 4px solid red;
  padding: 20px;
  box-sizing: border-box;
}

/* 09. 넘침 제어(overflow) */
.parent-09 {
  width: 200px;
  height: 150px;
  background-color: royalblue;
  margin: 20px;
  padding: 20px;
  overflow: auto;
}
.child-09 {
  width: 300px;
  height: 100px;
  background-color: orange;
}

/* 10. 출력 특성(display) */
.wrapper-10 {
  margin: 20px;
}
.span-10 {
  display: inline-block;
  width: 120px;
  height: 30px;
  background-color: royalblue;
  color: white;
}

/* 11. 투명도 */
.parent-11 {
  width: 100px;
  height: 100px;
  padding: 30px;
  background-color: royalblue;
}
.child-11 {
  width: 200px;
  height: 100px;
  background-color: orange;
  opacity: .5;
}

/* 12. 글꼴 */
.h1-12 {
  font-size: 24px;
  font-weight: 700;
  font-style: italic;
  font-family: serif;
}
.p-12 {
  width: 350px;
  padding: 10px;
  border: 1px solid;
  line-height: 1.4;
}

/* 13. 문자 */
.a-13 {
  display: block;
  width: 200px;
  height: 100px;
  background-color: orange;
  font-size: 22px;
  color: white;
  text-decoration: none;
  text-align: center;
  line-height: 100px;
}
.p-13 {
  font-size: 24px;
  text-indent: -50px;
}

/* 14. 배경 */
.div-14 {
  /* width: 300px; */
  height: 200px;
  background-color: orange;
  background-image: url("https://heropy.blog/css/images/logo.png");
  /* background-size: 70px; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
  background-attachment: fixed;
}

/* 15. 배치 (1) */
.container-15 {
  width: 300px;
  background-color: royalblue;
  position: relative;
}
.container-15 .item-15 {
  border: 4px dashed red;
  background-color: orange;
}
.container-15 .item-15:nth-child(1) {
  width: 100px;
  height: 100px;
}
.container-15 .item-15:nth-child(2) {
  width: 140px;
  height: 70px;
  position: relative;
  top: 30px;
  left: 200px;
}
.container-15 .item-15:nth-child(3) {
  width: 70px;
  height: 120px;
}

/* 16. 배치 (2) */
.wrap-16 {
  width: 400px;
  height: 300px;
  background-color: tomato;
  position: relative;
}
.container-16 {
  width: 300px;
  background-color: royalblue;
  position: relative;
}
.container-16 .item-16 {
  border: 4px dashed red;
  background-color: orange;
}
.container-16 .item-16:nth-child(1) {
  width: 100px;
  height: 100px;
}
.container-16 .item-16:nth-child(2) {
  width: 140px;
  height: 70px;
  position: fixed;
  bottom: 30px;
  right: 60px;
}
.container-16 .item-16:nth-child(3) {
  width: 70px;
  height: 120px;
}

/* 17. 배치 (3) */
.span-17 {
  width: 100px;
  height: 100px;
  background: orange;
  font-size: 40px;
  position: absolute;
}
.dummy-17 {
  height: 100px;
}

/* 18. 플렉스(정렬) Container (1) */
.container-18 {
  background-color: royalblue;
  display: flex;
}
.container-18 .item-18 {
  width: 100px;
  height: 100px;
  border: 3px dashed red;
  background-color: orange;
}

/* 19. 플렉스(정렬) Container (2) */
.container-19 {
  width: 250px;
  background-color: royalblue;
  display: flex;
  flex-wrap: wrap;
}
.container-19 .item-19 {
  width: 100px;
  height: 100px;
  border: 3px dashed red;
  background-color: orange;
}
.container-19-1 {
  width: 500px;
  height: 300px;
  background-color: royalblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-19-1 .item-19-1 {
  width: 100px;
  height: 100px;
  border: 3px dashed red;
  background-color: orange;
}

/* 20. 플렉스(정렬) items */
.container-20 {
  width: 500px;
  height: 300px;
  background-color: royalblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-20 .item-20 {
  width: 100px;
  height: 100px;
  border: 3px dashed red;
  background-color: orange;
  flex-grow: 1;
  flex-basis: 0;
}
.container-20 .item-20:nth-child(3) {
  flex-grow: 2;
}

/* 21. 전환 */
.div-21 {
  width: 100px;
  height: 100px;
  background-color: orange;
  transition:
    width .5s .5s,
    background-color 2s;
}
.div-21:active {
  width: 300px;
  background-color: royalblue;
}